.navbar-fixed-top {
    background-color: #0b0b0b;
    border: #0b0b0b;


}

body {
background: #0b0b0b url("https://3.bp.blogspot.com/-Hb5mlwEe-5U/XK74qzZGssI/AAAAAAAAAwY/ksu-TgW5ASgKY2EO2xi1eoxXZ49GRmSxwCLcBGAs/s1600/sempel%2Bbg.jpg") center no-repeat !important;
background-size: 100% 100% !important;
background-attachment: fixed !important;
}

#footer {
background-color: rgba(0,0,0,0.6) !important;

}

.btn.btn-theme {
 background: rgba(255,0,0);
background: -moz-linear-gradient(top, rgba(255,0,0) 0%, rgba(236,36,36) 100%) !important;
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,0,0)), color-stop(100%, rgba(236,36,36))) !important;
background: -webkit-linear-gradient(top, rgba(255,0,0) 0%, rgba(236,36,36) 100%) !important;
background: -o-linear-gradient(top, rgba(255,0,0) 0%, rgba(236,36,36) 100%) !important;
background: -ms-linear-gradient(top, rgba(255,0,0) 0%, rgba(236,36,36) 100%) !important;
background: linear-gradient(to bottom, rgba(255,0,0) 0%, rgba(236,36,36) 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9ad6f', endColorstr='#e3d6aa', GradientType=0 ) !important;
}

.results {
color: #0b0b0b;

}


.results > h4 > i {
    color: #0b0b0b !important;
background: none !important;
font-size: 16px;
font-wight: bolder;
background-color: #0b0b0b;
-webkit-text-fill-color: #FFD700 !important;
}

h4 {
	color: #dadada !important;

}
.results-detail{
color: #ff0000;
background: #ff0000

}

.blog-sidebar .nav.menu > li > a > i {
    
    color: #FFD700 !important;
}

.blog-sidebar .nav.menu > li > a {
    color: #dadada !important;
    border-bottom: 1px solid #ff0000 !important;
    font-size: 18px
	    
}    

.section .container {
    background: #0b0b0b !important;

}

.news-detail {
color: #ff0000;
background: #ff0000
}

.news-head {
    background: #ff0000;
    height: 35px;
}

.news-body {
    background: #0b0b0b}

